@media screen and (min-width: 800px){

    body{
        background-size: contain;
    }
    #gameOver {
        width: 100%;
        height: 100%;
        font-size: 3rem;
        background: rgba(19, 33, 34, 0.5);
        grid-column: 1/4;
        grid-row: 1/4;
        text-align: center;
        z-index: 1;
    }
    #gameOver h2:nth-of-type(1){
        color: red;
        font-family: 'Luckiest Guy', cursive;
    }
    #gameOver h2:nth-of-type(2){
        color: wheat;
        font-size: 1.5em;
        text-decoration: underline;
        font-family: 'Luckiest Guy', cursive;
        letter-spacing: 10px;
    }
    #gameOver h4:nth-of-type(1) {
        color: white;
        font-family: 'Luckiest Guy', cursive;
    }
    #gameOver #tryAgain {
        font-size: 1.5em;
        border: none;
        color: white;
        border-radius: 20px;
        padding: 0.5em 0.5em;
        background: green;
        font-family: 'Luckiest Guy', cursive;
        cursor: pointer;
    }
    .inputWrap, .getWord{
        grid-row: 3/3;
        grid-column: 2/2;
    }

};
